body{
    background-color: rgb(85, 255, 198);
    color: rgb(255, 253, 253);
    font-family:arial, sans-serif;
}
header{
    background-color: #2A0033;
    color:#ADEEC5;
    text-aling: center;
    padding: 30px;
}
h1{
    font-size: 36px;
}
h2{
    color:#000000;
}
 p  {
    font-size: 18px;
    line-height: 1.6;
   }