body{
    background-color: aquamarine;
    color: rgb(2, 2, 2);
    font-family:arial, sans-serif;
}
header{
    background-color: #2A0033;
    color:#ADEEC5;
    text-aling: center;
    padding: 30px;
}
h1{
    font-size: 36px;
}
h2{
    color:#FF9B00;
}
 p  {
    font-size: 18px;
    line-height: 1.6;
   }